:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

/*1300*/
@media screen and (max-width: 1301px){
    section {
        padding: 4.5rem 3% 5rem;
    }
    .home-content h1{
        font-size: 4.3rem;
    }
    .home-content {
        width: 100%;
        margin-bottom: 25px;
    }
    .home-content .text-animate h3 {
        font-size: 1.5rem;
    }
    .side-container h1 {
        font-size: 2.3rem;
    }
    .side-container button {
        font-size: 1.35rem;
    }
    .mceliece-right .content span.datetime {
        font-size: 1.6rem;
    }
    .mceliece-right .content .notify {
        font-size: 1.65rem;
    }
    .mceliece-right .content .file_name {
        font-size: 1.75rem;
    }
}

/*1200*/
@media screen and (max-width: 1200px){
    html{
        font-size: 55%;
    }
    .home-content h1{
        font-size: 4.1rem;
        line-height: 1.2;
    }
    .animate{
        height: 104%;
    }
    .animate.abc{
        top: -3px;
        right: -3px;
    }
    .team .animate{
        top: -1px;
        right: -1px;
        width: 103%;
        height: 103%;
    }
    .model_mceliece{
        width: 68rem;
    }
    .model_mceliece .close {
        top: -18px;
        right: -18px;
    }
    .side-container span {
        font-size: 14px;
    }
    .side-container .click .box_notify_error.show .error_detail {
        font-size: 1.6rem;
    }
    .side-container .click .box_notify_error.show .error_detail.success_notify {
        font-size: 1.75rem;
    }
    .mceliece{
        gap: 1.5%;
        height: 360px;
    }
    .mceliece-right .content span.datetime{
        font-size: 1.75rem;
    }
    .mceliece-right .content .notify,
    .mceliece-right .content .file_name{
        font-size: 1.9rem;
    }
    .mceliece-right .content .file_name .download_file a{
        font-size: 1.8rem;
    }
    .mceliece-right .content .file_name .download_file{
        bottom: 1rem;
    }
    .encrypt form{
        padding: 30px 25px 0 25px;
    }
}

/*1024*/
@media screen and (max-width: 1024px){
    html {
        font-size: 50%;
    }
    .home-content {
        margin-bottom: 20px;
    }
    .home-content h1 {
        font-size: 3.8rem;
    }
    .home-content .text-animate h3 {
        font-size: 1.7rem;
    }
    .model_mceliece {
        width: 75rem;
    }
    .model_mceliece .close {
        top: -15px;
        right: -15px;
    }
    .show-img {
        height: 4.3rem;
    }
    .mceliece {
        height: 340px;
    }
    .mceliece .mceliece-left {
        width: 70%;
    }
    .mceliece .mceliece-right {
        width: 30%;
    }
    .side-container span {
        font-size: 13px;
    }
    .encrypt form {
        padding: 30px 20px 0 20px;
    }
    .side-container .click .box_notify_error.show .error_detail {
        font-size: 1.65rem;
    }
    .encrypt .side-left input, 
    .encrypt .side-left button,
    .encrypt .side-right input, 
    .encrypt .side-right button {
        height: 30px;
    }
    .encrypt input {
        font-size: 1.5rem;
    }
    .mceliece-right .content .notify, 
    .mceliece-right .content .file_name {
        font-size: 1.95rem;
    }
    .mceliece-right .content span.datetime {
        font-size: 1.8rem;
    }
    .mceliece-right .content .file_name .download_file a{
        font-size: 1.95rem;
    }
    .mceliece-right .content .file_name .download_file{
        bottom: .8rem;
    }
}


/*925*/
@media screen and (max-width: 926px){
    .animate.abc{
        top: -3px;
        right: -3px;
    }
    html {
        font-size: 47%;
    }
    .home-content {
        margin-bottom: 25px;
    }
    .home-content h1 {
        font-size: 3.6rem;
    }
    .home-content .text-animate h3 {
        font-size: 1.8rem;
    }
    .model_mceliece {
        width: 70rem;
    }
    .show-img {
        height: 4.1rem;
    }
    .show-img i {
        font-size: 3rem;
        padding: 2px
    }
    .encrypt form {
        padding: 20px;
    }
    .mceliece{
        flex-wrap: wrap;
        gap: 5%;
    }
    .mceliece .mceliece-left{
        width: 100%;        
        height: 65%;
    }
    .side-container h1 {
        font-size: 2.4rem;
    }
    .mceliece .mceliece-right{
        width: 100%;
        height: 32%;
        display: flex;
        flex-direction: row;
        gap: 1.5%;
    }

    .mceliece .mceliece-right .top,
    .mceliece .mceliece-right .bottom{
        height: 100%;
    }
    .encrypt .side-left input, 
    .encrypt .side-left button,
    .encrypt .side-right input, 
    .encrypt .side-right button {
        height: 28px;
    }
    .encrypt input {
        padding: 5px 10px;
    }
    .side-container .click {
        gap: 10px;
    }
    .row-mc {
        width: 25%;
    }
    .mceliece-right .content .area_1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
    }
    .mceliece-right .content .notify{
        margin: 0 0 0rem 0;
        font-size: 1.9rem;
    }
    .mceliece-right .content .file_name{
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: .5rem;
    }
    .mceliece-right .content .file_name .filename_left{
        width: 70%;
    }
    .mceliece-right .content .file_name .filename_left p{
        margin-right: 2rem;
    }
    .mceliece-right .content .file_name .download_file{
        position: relative;
        width: 28%;
        margin: auto;
        bottom: 0;
        right: 0;
        padding: .5rem 0rem;
        background: rgba(0, 171, 240, 0.5);
        border-radius: 10px;
    }
    .mceliece-right .content .file_name .download_file a{
        color: var(--text-color);
        font-size: 1.8rem;
    }
}


/*768*/
@media screen and (max-width: 768px){
    html {
        font-size: 43%;
    }
    .home-content h1 {
        font-size: 3.4rem;
    }
    .home-content .text-animate h3 {
        font-size: 1.9rem;
    }
    .model_mceliece .close i {
        font-size: 4rem;
    }
    .side-container h1 {
        font-size: 2.45rem;
    }
    .side-container span {
        font-size: 12.5px;
    }
    .encrypt form {
        gap: 8px;
    }
    .encrypt input {
        font-size: 1.4rem;
        padding: 5.5px 10px;
    }
    .show-img {
        height: 4rem;
    }
    .side-container .click .box_notify_error.show .error_detail,
    .side-container .click .box_notify_error.show .error_detail.success_notify {
        font-size: 1.7rem;
    }
    .mceliece {
        height: 320px;
    }
    .mceliece-right .content span.datetime {
        font-size: 1.9rem;
    }
    .mceliece-right .content .area_1 .notify{
        font-size: 1.9rem;
    }
    .alt_img{
        display: none;
    }
    .home .animate{
        top: 0px;
        height: 105%;
    }
    .animate.abc{
        top: -3px;
        right: -3px;
    }
}

/*600*/
@media screen and (max-width: 601px){
    html {
        font-size: 38%;
    }
    .home-content h1 {
        font-size: 3.2rem;
    }
    .home-content .text-animate h3 {
        font-size: 1.8rem;
    }
    .show-img {
        height: 4.2rem;
    }
    .model_mceliece .close {
        top: -12px;
        right: -12px;
    }
    .side-container h1 {
        font-size: 2.35rem;
    }
    .side-container span {
        font-size: 11.5px;
    }
    .encrypt form span.hide-text{
        display: none;
    }
    .encrypt form {
        padding: 20px 15px 15px;
    }
    .encrypt input {
        font-size: 1.5rem;
        padding: 6px 10px;
    }
    .encrypt .side-left input, 
    .encrypt .side-left button, 
    .encrypt .side-right input, 
    .encrypt .side-right button {
        height: 27px;
    }
    .side-container button {
        font-size: 1.4rem;
        padding: 1rem 3rem;
    }
    .side-container .click .box_notify_error.show .error_detail, 
    .side-container .click .box_notify_error.show .error_detail.success_notify {
        font-size: 1.65rem;
    }
    .mceliece-right .content span.datetime {
        font-size: 1.8rem;
    }
    .mceliece {
        height: 300px;
    }
    .mceliece-right .content .area_1{
        flex-direction: column;
    }
    .mceliece-right .content .file_name{
        margin-top: 0rem;
    }
    .mceliece-right .content .file_name .filename_left{
        width: 100%;
    }
    .mceliece-right .content .file_name .filename_left p{
        margin-right: 0rem;
    }
    .mceliece-right .content .file_name .download_file{
        position: absolute;
        width: 100%;
        background: transparent;
        bottom: -3rem;
        right: 0rem;
        padding: 0rem;
    }
    .mceliece-right .content .file_name .download_file a{
        color: var(--main-color);
        justify-content: right;
    }
    .mceliece .mceliece-right {
        gap: 2.5%;
        height: 39%;
    }
}


/*425*/
@media screen and (max-width: 426px){
    html{
        font-size: 36%;
    }
    section {
        padding: 4.5rem 3% 3rem;
    }
    .home-content h1{
        font-size: 3.1rem;
        line-height: 1.2;
    }
    .home-content .text-animate h3 {
        font-size: 2.3rem;
    }
    .home-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .home-content .text-animate{
        width: 90%;
    }
    .home-content {
        margin-bottom: 15px;
    }
    .mceliece {
        height: 100vh;  
    }
    .side-container h1 {
        font-size: 2.65rem;
    }
    .encrypt form span.hide-text {
        display: inline-block;
    }
    .row-mc {
        width: 30%;
    }
    .encrypt form button {
        width: 100%;
    }
    .encrypt input {
        font-size: 1.65rem;
        padding: 5px 10px;
    }
    .side-container .click .box_notify_error.show .error_detail, 
    .side-container .click .box_notify_error.show .error_detail.success_notify {
        font-size: 1.8rem;
    }
    .show-img {
        height: 5rem;
        top: 3px;
        left: 3px;
    }
    .show-img i {
        font-size: 4rem;
    }
    .model_mceliece {
        width: 60rem;
        left: 50%;
        transform: translate(-50%, -100%);
    }
    .mceliece {
        gap: 3%;
    }
    .mceliece .mceliece-right{
        height: 30%;
        gap: 8%;
        display: flex;
        flex-direction: column;
    }
    .mceliece-right .content {
        gap: 0;
    }
    .mceliece .mceliece-left{
        height: 66%;
    }
    .mceliece .mceliece-left .side-right{
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0rem;        
    }
    .mceliece .mceliece-left .side-left{
        width: 100%;
        height: 50%;
        position: absolute;
        top: 0rem;
    }
    .side-container button {
        font-size: 1.6rem;
    }
    .encrypt .side-left form{
        border-radius: 20px 20px 0 0;
    }
    .mceliece-right .content .file_name{
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .mceliece-right .content .area_1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .mceliece-right .content span.datetime{
        font-size: 2.1rem;
    }
    .mceliece-right .content .area_1 .notify {
        font-size: 2.1rem;
    }
    .mceliece-right .content .file_name .filename_left{
        width: 70%;
        margin: 1rem 0 1.5rem 0;
    }
    .mceliece-right .content .file_name .filename_left p{
        margin-right: 2rem;
    }
    .mceliece-right .content .file_name .download_file{
        position: relative;
        width: 26%;
        margin: auto;
        bottom: 0;
        right: 0;
        padding: .5rem 0;
        background: rgba(0, 171, 240, 0.5);
        border-radius: 30px;
    }
    .mceliece-right .content .file_name .download_file a{
        color: var(--text-color);
        justify-content: center;
    }
}

/*360*/
@media (max-width: 361px) {
    .home{
        justify-content: center;
    }
    .home-content{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .home-content h1 {
        font-size: 2.8rem;
    }
    .home-content .text-animate h3 {
        font-size: 2rem;
    }
    .model_mceliece{
        width: 75%;
        top: 45%;
    }
    .model_mceliece .close {
        top: -12px;
        right: -12px;
    }
    .side-container button {
        font-size: 1.5rem;
    }
    .row-mc {
        width: 25%;
    }
    .side-container .click .box_notify_error.show .error_detail, 
    .side-container .click .box_notify_error.show .error_detail.success_notify {
        font-size: 1.75rem;
    }
    .mceliece {
        gap: 1.7%;
    }
    .mceliece-right .content span.datetime {
        font-size: 1.9rem;
    }
    .mceliece-right .content .area_1 .notify{
        font-size: 1.9rem;
    }
    .mceliece-right .content .file_name .download_file a {
        font-size: 1.7rem;
    }
}

/*320*/
@media (max-width: 320px) {
    .home-content h1 {
        font-size: 2.7rem;
    }
    .home-content .text-animate h3 {
        font-size: 1.9rem;
    }
    .model_mceliece{
        width: 80%;
    }

    .side-container button {
        font-size: 1.45rem;
    }
    .side-container .click .box_notify_error.show .error_detail, 
    .side-container .click .box_notify_error.show .error_detail.success_notify {
        font-size: 1.7rem;
    }
    .mceliece {
        gap: 1%;
    }
    .mceliece-right .content span.datetime {
        font-size: 1.85rem;
    }
    .mceliece-right .content .area_1 .notify{
        font-size: 1.85rem;
    }
    .mceliece-right .content .file_name .download_file {
        width: 28%;
    }
}



/*------------ANIMATION-----------*/
@keyframes homeBgText{
    0%,
    10%,
    100%{
        background-position: -65rem 0;
    }

    65%,
    85%{
        background-position: 0 0;
    }
}

@keyframes showRight{
    100%{
        width: 0;
    }
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes Spinner{
    100%{
        transform: rotate(360deg);
    }
}