<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mceliece Encryption System</title>
    <link rel="stylesheet" href="../static/css/mceliece.css">
    <link rel="stylesheet" href="../static/css/responsive_mceliece.css">
    <link rel="icon" href="../static/img/mceliece.png">

    <!-- box icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>
    <!--SECTION DESIGN-->
    <section class="home show-animate" id="McEliece">
        <div class="home-content">
            <h1>Mceliece Encryption System
                <span class="animate" style="--i:2;"></span>
            </h1>
            <div class="text-animate">
                <h3>Upload your data you want to encrypt/decrypt (Only accept .txt and .xlsx file)</h3>
                <span class="animate" style="--i:3;"></span>
            </div>

        </div>   

        <div class="mceliece">
            <div class="mceliece-left">
                <div id="encrypt" class="encrypt">
                    <div class="side-left side-container" id="process__1">
                        <form action="/cipher" method="post" enctype="multipart/form-data" id="cipher" onsubmit="return submitForm(event)">  
                            <h1>ENCRYPT DATA</h1>
                            <span>Upload your original data <span class="hide-text">you want to encrypt</span></span>
                            <span>(Only accept .txt and .xlsx file)</span>
                            <div class="click">
                                <input type="file" name="file" id="file-cipher" accept=".txt, .xlsx">
                                <div class="row-mc">
                                    <button type="submit" id="submit-file-original">Encrypt
                                        <div id="process" class="load_result">
                                            <i class='bx bx-loader-circle'></i>
                                        </div>
                                    </button>                                   
                                </div>
                            </div>
                        </form>

                        <div class="show-img" id="show">
                            <i class='bx bx-image-alt' ></i>
                            <div class="alt_img">McEliece</div>
                        </div>
                    </div>
    
                    <div class="side-right side-container">
                        <form action="/plain" method="post" enctype="multipart/form-data" id="plain" onsubmit="return submitForm_2(event)">   
                            <h1>DECRYPT DATA</h1>
                            <span>Upload your cipher data <span class="hide-text">you want to decrypt</span></span>
                            <span>(Only accept .txt file)</span>
                            <div class="click">
                                <input type="file" name="file" accept=".txt" id="file-plain" >
                                <div class="row-mc">
                                    <button type="submit" id="submit-file-cipher" >Decrypt
                                        <div id="process_2" class="load_result">
                                            <i class='bx bx-loader-circle'></i>
                                        </div>
                                    </button>                                 
                                </div>                                
                            </div>
                        </form>
                    </div>
                </div>
                <span class="animate abc" style="--i:3;"></span>
            </div>
            

            <div class="mceliece-right" data-animation="fadeInUp" data-delay="900ms">
                <div class="top">
                    <div class="content">
                        <div class="area_1">
                            <span class="datetime">McEliece - CipherText</span>
                            <div class="notify" id="notify_cipher"></div>
                        </div>

                        <div class="file_name" id="add_file_cipher"></div>
                    </div>
                    <span class="animate abc" style="--i:4;"></span>
                </div>
                
                <div class="bottom">
                    <div class="content">
                        <div class="area_1">
                            <span class="datetime">McEliece - PlainText</span>
                            <div class="notify" id="notify_plain"></div>
                        </div>

                        <div class="file_name" id="add_file_plain"></div>
                    </div>
                    <span class="animate abc" style="--i:4;"></span>
                </div>
                
            </div>
        </div>

        <div class="model_mceliece" id="model_mceliece">
            <img src="../static/img/mo-ta-mc.jpg" alt="Model McEliece">
            <div class="close" id="hide">
                <i class='bx bx-x'></i>                
            </div>
        </div>

        <span id="hide-bg"></span>
    </section>

    <script src="../static/js/mceliece.js"></script>
    <script src="../static/js/encrypt_decrypt.js"></script>

</body>
</html>